@model ProductOverviewModel

<section class="product-overview">
    <div class="product-image">
        <div class="item-1">
            <img src="@Model.ProductImage" alt="product-image">
        </div>
        <div class="item-2">
            <img src="images/Placeholders/120x113.svg" alt="">
            <img src="images/Placeholders/120x113.svg" alt="">
            <img src="images/Placeholders/120x113.svg" alt="">
            <img src="images/Placeholders/120x113.svg" alt="">
        </div>
    </div>

    <div class="product-info">
        <h1>@Model.ProductName</h1>
        <p>@Model.ProductDescription</p>

        <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <p>16 Reviews</p>
        </div>
        <span class="price">@Model.ProductPrice</span>
        <div class="cart">
            <div class="quantity">
                <button class="minus-btn">-</button>
                <input type="text" class="qty-input" value="1">
                <button class="plus-btn">+</button>
            </div>
            <button class="btn-add-to">
                Add to Cart<i class="add-cart far fa-cart-plus"></i>
            </button>
        </div>

        <div class="in-stock">
            <div class="circle red"></div>
            <div class="circle yellow"></div>
            <div class="circle green"></div>
            <p>SKU: N/A</p>
        </div>
        <button class="btn-wishlist">Add to Wishlist</button>
        <p>Category: @Model.ProductCategory</p>
    </div>
</section>