@model ProductRegistrationViewModel

@{

    var products = await productService.GetProductsAsync();
}

@{
    ViewData["Title"] = "Products";
}

@if (products != null)
{
    <section class="products">
        <div class="container">
            <nav class="header">
                <div class="products-title">
                    PRODUCTS
                </div>
                <a asp-controller="Products" asp-action="Register" class="link"><i class="fa-solid fa-plus"></i>CREATE PRODUCT</a>
            </nav>
            <div class="products-grid">

                <!-- category-item start -->
                <div class="grid-categories">
                    <div class="category">Product Title</div>
                    <div class="category">Description</div>
                    <div class="category">Price</div>
                    <div class="category">Category</div>
                </div>
                <!-- category-item end -->

                <!-- collection-item start -->
                @foreach (var product in products)
                {
                    <div class="grid-item">
                        <a asp-action="Details" asp-route-id="@product.Id">@product.ProductName</a>
                        <div class="info">@product.ProductDescription</div>
                        <div class="info">@product.ProductPrice</div>
                        <div class="info">@product.ProductCategory.CategoryName</div>
                    </div>
                  
                }
                <!-- collection-item end -->

            </div>
        </div>
    </section>
}